* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 40px; }

.header {
  background-color: #995d81;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: header;
  transition-property: 2s;
  animation-name: gradiante;
  height: 200px; }
  .header li {
    display: inline; }
  .header a {
    margin-left: 100px;
    font-size: 50px;
    color: #ffffff;
    text-decoration: none;
    transition-property: color, font-size;
    transition-duration: 1s; }
    .header a:hover {
      color: #410f2d;
      font-size: 90px; }

.main {
  grid-area: main; }
  .main .quienessomos {
    width: 80%;
    height: auto;
    padding: 10px 50px;
    margin: 10px auto;
    overflow: auto;
    border: solid #000000 5px; }
  .main .tituloxl2 {
    display: flex;
    color: #000000;
    justify-content: center; }
  .main .tituloxl {
    font-size: 3rem;
    color: #000000;
    display: flex;
    justify-content: center; }
  .main .quienessomos1 {
    display: flex;
    justify-content: center;
    border: #000000 solid;
    margin: 100px;
    height: 600px; }
  .main .quienessomos1 iframe {
    width: 100%; }
  .main #sale1 {
    display: flex;
    width: 500px;
    height: 500px;
    justify-content: flex-end; }
  .main .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .main .productos {
    padding: 0;
    display: flex;
    justify-content: space-around; }
    .main .productos .imgParametros1 {
      width: 200px;
      height: 200px; }
    .main .productos .imgParametros2 {
      width: 200px;
      height: 200px; }
    .main .productos .imgParametros3 {
      width: 200px;
      height: 200px; }
    .main .productos .imgParametros4 {
      width: 200px;
      height: 200px; }
  .main #prod {
    display: flex;
    margin-top: 100px; }

/*comienzo de fondo*/
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  max-width: 100%;
  position: relative; }

.img-uno {
  background-image: url(https://cdn.discordapp.com/attachments/915642143706587196/1017218384217264128/fondoladrllo-min_1.jpg); }

/*fin de fondo*/
.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 200px auto 100px;
  grid-template-areas: "header" "main"  "footer"; }

.redes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; }

.footer {
  grid-area: footer; }

/*full responsib*/
@media (max-width: 390px) {
  .header {
    height: 100%; }
    .header a {
      margin-left: 0px;
      font-size: 32px;
      color: #ffffff;
      text-decoration: none; }
  .main .quienessomos {
    width: 98%;
    height: auto;
    padding: 10px 50px;
    margin: 10px auto;
    border: solid black 5px;
    overflow: auto; }
  .main .map {
    height: 200px;
    width: 300px; }
  .main .quienessomos1 {
    margin: 50px; }
  .main .tituloxl {
    font-size: 60px;
    color: #000000;
    display: flex;
    text-align: center; }
  .main .quienessomos1 {
    margin: 50px; }
  #prod {
    display: flex;
    flex-direction: column; }
    #prod .produ {
      width: 200px;
      height: 200px; }
  .productos {
    display: flex;
    flex-wrap: wrap; } }

/*full responsib*/
