@import "./partials/header";
@import "./partials/main";
@import "./partials/body";
@import "./partials/footer";
@import "./partials/var";
@import "./partials/extends";
@import "./partials/mixin";



/*full responsib*/
@media(max-width: 390px) {
  .casa {
    margin-top: 25px !important;
  }


    .header {
      height: 226px;

      .heder_Nav_Ul{
        display: flex;
      flex-wrap: wrap;
      margin-bottom: 0rem !important;
      padding-left: 0rem;

          li {

            
            a {
              margin-left: 70px;
              font-size: 40px;
              color: #ffffff;
              text-decoration: none; 
              }
            }
          }
        }
        }
      .main {
        margin-top: 30px;
        .quienessomos {
          width: 98%;
          height: auto;
          padding: 10px 50px;
          margin: 40px auto;
          border: solid black 5px;
          overflow: auto; }
          
          .quienessomos1 {
            margin: 50px; }
            .tituloxl {
              font-size: 60px;
              color: #000000;
              display: flex;
              text-align: center; }
              .quienessomos1 {
              margin: 50px; }
             
              .section3 {
                margin: 5%;
              }
           

            .produ {
              width: 200px;
              height: 200px;
            }


        
            .productos {
              display: flex;
              flex-wrap: wrap;
             
  
            
            .prod {
              display: flex;
              flex-direction:column;
              justify-content: space-around;
            }
  
          }
        }